%h3 Conversion between Feet and Centimeter 

%form{:action => "cm_ft", :methode => "get"}
  .form-group
    %label Centimeter
    %input.form-control{:placeholder => "Enter Centimeter", :type => "text", :name => "cm"}/
  .form-group
    %label Foot
    %input.form-control{:placeholder => "Enter Foot", :type => "text", :name =>"ft"}/
  %button.btn.btn-default{:type => "submit"} Submit

  %p

  .alert.alert-dismissible.alert-info
    %button.close{"data-dismiss" => "alert", :type => "button"} ×
    %center
      %strong
        %h3= @result

