%h3 Conversion between Foot and Meter 

%form{:action => "mtr_ft", :methode => "get"}
  .form-group
    %label Meter
    %input.form-control{:placeholder => "Enter Meter", :type => "text", :name => "mtr"}/
  .form-group
    %label Foot
    %input.form-control{:placeholder => "Enter Foot", :type => "text", :name =>"ft"}/
  %button.btn.btn-default{:type => "submit"} Submit

  %p

  .alert.alert-dismissible.alert-info
    %button.close{"data-dismiss" => "alert", :type => "button"} ×
    %center
      %strong
        %h3= @result

