%h3 Conversion between Meter and Inch 

%form{:action => "mtr_inch", :methode => "get"}
  .form-group
    %label Inch
    %input.form-control{:placeholder => "Enter Inch", :type => "text", :name => "inch"}/
  .form-group
    %label Meter
    %input.form-control{:placeholder => "Enter Meter", :type => "text", :name =>"mtr"}/
  %button.btn.btn-default{:type => "submit"} Submit

  %p

  .alert.alert-dismissible.alert-info
    %button.close{"data-dismiss" => "alert", :type => "button"} ×
    %center
      %strong
        %h3 = @result

